@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="background-image: linear-gradient(to bottom, #ff9f40, #e71e12, #6e298c, #2027be);">
        <NavMenu />
    </div>

    <main>
@*        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content px-4" style="margin-top:2%">
            @Body
        </article>
    </main>
</div>
