<div class="row row-cols-12" style="text-align:center;">
    <div class="col-12 align-self-center">
        <img src="resources/loading.gif" style="width:40%; height:40%;" />
    </div>
</div>

@code {

}
