@page "/"
@using MyNextMealApp.Portal.Components.Skeleton

@*CSS*@
<style>
    .notMyLogos {
        width: 2%;
        height: 2%;
        margin: 4px;
        border-radius:10px;
    }
</style>

<h1 style="margin-bottom:2%; text-align:center;">Welcome to MyNextMealApp!</h1>

<p style="margin-top:2%; text-align:center;">
    MyNextMealApp is a Web App created as a project for the master's dissertation in Computing and Information Communication Technology.
    This app handles a free API and visualizes data for different meals. You can filter meals by country or category and you can also
    ask for a random meal.
</p>

<p style="margin-top:2%; text-align:center;">
    <img class="notMyLogos" src="resources/meal-db-icon.png" />
    More information about the free API can be found
    <a href="https://www.themealdb.com/">here!</a>
</p>

<p style="margin-top:2%; text-align:center;">
    <img class="notMyLogos" src="resources/github-logo.png" />
    Also the git repo can be found
    <a href="https://github.com/kmchatzis91/MyNextMealApp">here!</a>
</p>

<p style="margin-top:2%; text-align:center;">Enjoy :)</p>