@using System.Diagnostics
@using System.Text
@using System.Text.Json
@using Microsoft.AspNetCore
@using System.Diagnostics.CodeAnalysis
@using MyNextMealApp.Models.Models;
@using MyNextMealApp.Portal.Components.Modals;
@using MyNextMealApp.Portal.Helpers;
@inject NavigationManager navigationManager

@*CSS*@
<style>
    .card {
        width: 98%;
        height: 98%;
        border-radius: 8px;
        transition: transform .2s;
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

        .card:hover {
            cursor: pointer;
            transform: scale(1.04);
        }

    .card-body {
        text-align: center;
        padding: 0;
    }

    .card-footer {
        text-align: center;
        font-family: Calibri;
        padding: 0;
    }
</style>

@*HTML*@
<div class="card">
    <div class="card-header">
        <div style="text-align:end;">
            <i class="oi oi-eye" title="@Info" style="color:#2027be" @onclick="OnCategoryDetailsClicked" />
        </div>
    </div>
    <div class="card-body" @onclick="OnCategoryListViewComponentClicked">
        <div class="row row-cols-12">
            <div class="col-12 align-self-center" style="text-align:center;">
                <img src="@Category.strCategoryThumb"
                     style="width:60%; height:160px; border-radius:8px; margin:2%"
                     oncontextmenu="return false;" />
            </div>
        </div>
    </div>
    <div class="card-footer" @onclick="OnCategoryListViewComponentClicked">
        <div style="font-size:1em; font-family:Calibri; margin:2%; color:#000000;">
            @Category.strCategory
        </div>
    </div>
</div>

<CategoryDetailsModalComponent @ref="CategoryDetailsModalComponent" />

@code {
    #region Parameters, properties & fields
    [Parameter, AllowNull]
    public Category Category { get; set; }

    [AllowNull]
    public CategoryDetailsModalComponent CategoryDetailsModalComponent { get; set; }

    private string Info = "Information";
    #endregion

    #region Methods
    protected override void OnInitialized()
    {
        try
        {
            if (Category == null)
                return;

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Debug.WriteLine($"Error in CategoryListViewComponent/OnInitialized => {ex.Message}");
        }
    }
    private void OnCategoryDetailsClicked()
    {
        try
        {
            if (Category != null)
            {
                CategoryDetailsModalComponent.Show(Category);
            }
        }
        catch (Exception ex)
        {
            Debug.WriteLine($"Error in CategoryListViewComponent/OnCategoryDetailsClicked => {ex.Message}");
        }
    }

    private void OnCategoryListViewComponentClicked()
    {
        try
        {
            if (Category != null)
            {
                navigationManager.NavigateTo($"meal/{Constants.Categories.ToString()}/{Category.strCategory}");
            }
        }
        catch (Exception ex)
        {
            Debug.WriteLine($"Error in CategoryListViewComponent/OnCategoryListViewComponentClicked => {ex.Message}");
        }
    }  
    #endregion
}
